/* -------- Variables -------- */

:root {
  --background-light-grey: #F5F5F5;
  --background-white: #ffffff;
  --text-dark-grey: #5F6165;
  --text-grey: #72767C;
  --text-light-grey: #C4C4C4;
  --blue-grey: #F3F5F8;
  --dark-green: #2B4F43;
  --green: #719771;
  --light-green: #D6E4D6;
  --yellow: #CDB86D;
  --orange: #C09064;
}

/* -------- Layout -------- */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 16px;
  font-family: 'DM Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background-light-grey);
}

.layout {
  display: flex;
  flex-direction: column;
  flex-flow: column;
  flex-grow: 1;
  height: 100vh;
}

.header {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: .5rem 2rem;
  margin-bottom: 1px;
  background-color: var(--background-white);
  align-items: center;
}

.header__title-box {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.header__title-box .logo {
  font-weight: bold;
  background-color: var(--dark-green);
  color: white;
  font-size: 1.1rem;
  border-radius: 5px;
  padding: .05rem .4rem;
}

.header__title-box .title {
  margin: 0;
  font-size: 1.5rem;
  color: var(--dark-green);
  align-self: center;
}

.header__title-box .title .highlighted {
  color: var(--green)
}

.button-notifications {
  margin: 0;
}

.side-nav {
  flex-grow: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: fit-content;
  padding: 1.5rem;
  background-color: var(--background-white);
}

.side-nav__top {
  display: flex;
  flex-direction: column;
  gap: .8rem;
}

.side-nav a {
  display: block;
  width: 100%;
  padding: .5rem 1rem;
  border-radius: 7px;
  text-decoration: none;
  color: var(--text-dark-grey);
}

.side-nav a.active, .side-nav a:hover {
  background-color: var(--blue-grey);
}

.main {
  flex-grow: 1;
  flex-shrink: 1;
  display: flex;
  flex-direction: row;
}

.page-content {
  padding: 1rem 2rem;
}
